{{#if editAnswerForm}}
  <div class="edit-answer">
    <h2>Edit Answer</h2>
    <form class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <h3>Author</h3>
          {{input value=answerAuthor id="answerAuthor" placeholder=answer.answerAuthor class="form-control" type="text"}}
        </div>
        <div class="col-xs-6">
          <h3>Date</h3>
          {{input value=answerDate id="answerDate" placeholder=answer.answerDate class="form-control" type="date"}}
        </div>
      </div>
      <div>
        <h3>Answer Content</h3>
        {{textarea value=answerContent id="answerContent" placeholder=answer.answerContent class="form-control" type="text"}}
      </div>
      <button {{action "editAnswer" answer}} class="btn btn-success">Save Answer</button>
    </form>
  </div>
{{else}}
  <button {{action "showEditAnswerForm"}} class="btn btn-warning">Edit Answer</button>
{{/if}}
