<!-- {{#if addNewAnswer}}
  <div class="new-answer">
    <h2>New Answer</h2>
    <form class="form-group row">
      <div class="col-xs-6">
        <h3>Author</h3>
        {{input value=answer.answerAuthor id="answerAuthor" class="form-control"}}
      </div>
      <div class="col-xs-6">
        <h3>Date</h3>
        {{input value=answer.answerDate id="answerDate" class="form-control" type="date"}}
      </div>
      <div>
        <h3>Answer</h3>
        {{textarea value=answer.answer id="answer" class="form-control"}}
      </div>
      <button {{action "saveAnswer" answer}} class="btn btn-success">Save Answer</button>
    </form>
  </div>
{{else}}
  <button {{action "showNewAnswerForm"}} class="btn btn-primary">New Answer</button>
{{/if}} -->
