{{#if addNewQuestion}}
  <div class="new-question">
    <h2>New Question</h2>
    <form class="form-group">
      <div>
        <h3>Question Content</h3>
        {{input required value=questionContent id="questionContent" class="form-control" type="text"}}
      </div>
      <div class="row">
        <div class="col-xs-6">
          <h3>Author</h3>
          {{input required value=questionAuthor id="questionAuthor" class="form-control" type="text"}}
        </div>
        <div class="col-xs-6">
          <h3>Date</h3>
          {{input required value=questionDate id="questionDate" class="form-control" type="date"}}
        </div>
      </div>
      <div>
        <h3>Notes</h3>
        {{textarea required value=notes id="notes" class="form-control" type="text"}}
      </div>
      <button {{action "saveQuestion"}} class="btn btn-success">Save Question</button>
    </form>
  </div>
{{else}}
  <button {{action "showNewQuestionForm"}} class="btn btn-primary">Add New Question</button>
{{/if}}
