{{#if addNewAnswer}}
  <div class="new-answer">
    <h2>New Answer</h2>
    <form class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <h3>Author</h3>
          {{input required value=answerAuthor id="answerAuthor" class="form-control" type="text"}}
        </div>
        <div class="col-xs-6">
          <h3>Date</h3>
          {{input required value=answerDate id="answerDate" class="form-control" type="date"}}
        </div>
      </div>
      <div>
        <h3>Answer Content</h3>
        {{textarea required value=answerContent id="answerContent" class="form-control" type="text"}}
      </div>
      <button {{action "saveAnswer"}} class="btn btn-success">Save Answer</button>
    </form>
  </div>
{{else}}
  <button {{action "showNewAnswerForm"}} class="btn btn-primary">New Answer</button>
{{/if}}
